{% extends 'BlogBundle:Layout:main_layout.html.twig' %}

{# Title Start #}
{% block title %}BlogHomeTitle{% endblock %}

{# Stylesheet Start #}
{% block stylesheets %}
    <link rel="stylesheet" href="{{ absolute_url(asset('css/style.css')) }}">
{% endblock %}

{# Header Start #}
{% block header %}
    {{ parent() }}

{% endblock %}

{# Body Start #}
{% block body %}
    <h1>Articles Lists </h1>
    <img src="{{ asset('images/asset.jpg') }}" alt="Asset">
    {% for article in articles %}
        {{ include('BlogBundle:Layout:article_details.html.twig', {'article': article}) }}
    {% endfor %}
{% endblock %}

{# Javascript Start #}
{% block javascripts %}
    <script type="text/javascript" src="{{ asset('js/plugin.js') }}"></script>
{% endblock %}